APP_ENV=production
APP_KEY=
DB_DRIVER=mysql
DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=lavalust_lab6
DB_CHARSET=utf8mb4
DB_PREFIX=
DB_SSL_CA=/etc/secrets/aiven-ca.pem
JWT_SECRET=
REFRESH_TOKEN_KEY=
FRONTEND_ORIGIN=https://your-frontend.onrender.com